<div class="center jumbotron">
  <h1>WELCOME TO GOSSIP APP </h1>
<div class="center jumbotron">
  <h1>WELCOME TO GOSSIP APP </h1>

  <%= link_to "INSCRIS TOI", new_user_registration_path, class: "btn btn-lg btn-primary" %>


</div>


</div>
