
  <body>
    <div><nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Gossip App</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li> <a href="/">Home</a> </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
          <li><a href="new_user_session_path">Log In</a></li>
          <li><a href="new_user_registration_path">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav></div>
    <div class="container">
</div>

  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to the Gossip App!</h1>
      <p>Register to get started.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/users/sign_up">Register</a>
      </p>
    </div>
  </div>
  

<div class="container">
    <h1></h1>
  
</div>
  </body>